<app-person></app-person>

<div class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true" class="card-title">ACTIVITY
                            </a>
                        </div>
                        <div class="col-auto">
                            <button (click)="addNew()" class="btn btn-secondary btn-sm">
                                <i class="fas fa-plus fa-fw"></i> Add New
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <app-personactivity #personactivities [view]=2 (show)="show($event)"></app-personactivity>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div aria-labelledby="exampleModalLabel" class="modal fade show" id="addpersonactivity" role="dialog" tabindex="-1">
        <app-personactivity #addpersonactivity [view]=3 (cancel)="cancel()"></app-personactivity>
  </div>
  
  <div aria-labelledby="exampleModalLabel" class="modal fade show" id="editpersonactivity" role="dialog" tabindex="-1">
    <app-personactivity #editpersonactivity [view]=4 (cancel)="cancel()"></app-personactivity>
  </div>
  